<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246471571560-93orqj0o6tmtdtir05dvgive5kjolnni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246471571560-93orqj0o6tmtdtir05dvgive5kjolnni</string>
	<key>API_KEY</key>
	<string>AIzaSyD-jtDG9yH6rPjYnAJZI98UNE4sKaXOX-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>246471571560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.otomedia.ios</string>
	<key>PROJECT_ID</key>
	<string>otomedia-2e945</string>
	<key>STORAGE_BUCKET</key>
	<string>otomedia-2e945.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246471571560:ios:74706c3922530e2fc5a3dd</string>
</dict>
</plist>